.sticky-header {
  position: sticky;
  top: 0;
  padding: 20px;
  border-bottom: 1px solid hsl(var(--border));
  z-index: 10;
  background: inherit;
}

.sticky-header nav {
  display: flex;
  justify-content: center;
}

.sticky-header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.sticky-header li {
  cursor: pointer;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.sticky-header li:hover {
  color: #ff0000;
}